<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9d1hFgzJdMMuoN4lHThQwA5QCN2Cr0cA</string>
	<key>GCM_SENDER_ID</key>
	<string>523658629771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almadar.almadarNews</string>
	<key>PROJECT_ID</key>
	<string>almadar-b09df</string>
	<key>STORAGE_BUCKET</key>
	<string>almadar-b09df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523658629771:ios:edd55fe67a46eed6537a8e</string>
</dict>
</plist>